.footer{
  text-align: center;
  background-color: #F0F0F0;
  padding: 50px;
}

.challenge-footer{
  color: purple;
  font-weight: 300;
}

.footer-title{
  font-weight: 300;
}

.footer-join{
  font-weight: 300;

}